.aboutcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2about {
    color: rgb(197, 177, 177);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    /* Change to column for better responsiveness */
    align-items: center;
    max-width: 100%;
    color: aliceblue;
    font-size: 19px;
}

.left {
    max-width: 800px;
    text-align: center;
    /* Center text in mobile view */
}

.right img {
    width: 100%;
    /* Make the image width 100% of the container */
    max-width: 270px;
    /* Set max-width for the image */
    height: auto;
    /* Maintain the aspect ratio */
    margin-top: 20px;
    /* Adjust margin as needed */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

@media (min-width: 601px) {
    /* Apply styles only for screens with width 600px and above */
    .content {
        flex-direction: row;
        /* Switch back to row for larger screens */
        justify-content: space-between;
    }
    .left {
        text-align: center;
    }
    .right img {
        margin-top: 60px;
        /* Adjust margin for larger screens */
        margin-left: 20px;
        /* Adjust margin for larger screens */
    }
    .aboutcontent {
        height: 100vh;
    }
}