.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-item img {
    width: 100%;
    height: 350px;
    z-index: 2;
}

.prevbtn,
.nextbtn {
    position: absolute;
    top: 50%;
    font-size: 24px;
    background-color: #9f9797;
    z-index: 5;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.prevbtn {
    left: 10px;
}

.nextbtn {
    right: 10px;
}

.prevbtn:hover,
.nextbtn:hover {
    background-color: rgb(96, 94, 94);
    color: #ffffff;
}