.formele {
    width: 500px;
    margin: 70px auto;
    /* Add margin to create space from the top */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}


/* Styling for the success message */

.success {
    max-width: 700px;
    margin: 100px auto;
    /* Add margin to create space from the top */
    text-align: center;
    /* position: fixed; */
    top: 20px;
    /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.success .message {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}


/* Add more styles as needed */


/* Styling for form labels and input fields */

.formele label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formele input,
.formele textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formele input[type="submit"],
.formele input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formele input[type="submit"]:hover,
.formele input[type="reset"]:hover {
    background-color: #45a049;
}

.Loader {
    text-align: center;
    margin-top: 20px;
}

@media(max-width:600px) {
    .formele {
        max-width: 340px auto;
        overflow: hidden;
        /* margin-left: 20px; */
    }
}