footer {
    background-color: #c0b0b0;
    padding: 1px;
    color: rgb(10, 8, 8);
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    /* bottom: 0; */
    /* width: 100%; */
}


/* 
.foot {
    display: flex;
    justify-content: space-around;
   
} */

.item {
    text-align: center;
    margin-top: 10px;
    /* Adjusted margin-top value */
}

.cicon,
.eicon,
.licon,
.gicon {
    width: 40px;
    height: 30px;
}


/* @media (max-width:600px) {
    .foot {
        display: flex;
        flex-direction: row;
    }
} */