footer {
    background-color: #e3e3e3;
    padding: 10px;
    color: rgb(10, 8, 8);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.cicon,
.eicon,
.licon,
.gicon {
    height: 28px;
    margin-top: 12px;
}

.item-copyright {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

@media (max-width: 600px) {
    footer {
        padding: 5px;
        gap: 10px;
    }
    .item-copyright {
        font-size: 12px;
        /* Adjusts font size for smaller screens */
        margin-top: 5px;
        /* Reduces spacing for smaller screens */
    }
}