body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: rgb(105, 40, 105);
    padding: 20px 20px;
}

.mobile-nav .clsbtn {
    display: none;
}

.navbar {
    display: flex;
}

.mobile-nav {
    display: none;
}

.desktop-nav ul,
.mobile-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-nav li,
.mobile-nav li {
    margin: 0 10px;
}

.desktop-nav a,
.mobile-nav a {
    color: #fffcfc;
    text-decoration: none;
    font-size: 16px;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    color: #f37b7b;
    display: none;
    background-color: #fffcfc;
    padding: 2px;
}

.mobile-nav {
    display: none;
}

@media (max-width: 600px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        z-index: 2;
    }
    .icon {
        display: block;
        border: 2px solid #514d4d;
        border-radius: 5px;
    }
    .mobile-nav .clsbtn {
        display: block;
    }
    .mobile-nav ul {
        background-color: #313434;
        position: absolute;
        top: 80px;
        left: 0;
        margin: 0;
        max-width: 100px;
        max-height: 350px;
        display: flex;
        flex-direction: column;
    }
    .mobile-nav a {
        padding: 8px;
        display: flex;
        color: white;
    }
}

.desktop-nav ul li a:hover {
    background-color: rgb(189, 189, 189);
    padding: 20px 20px;
    color: black;
}

.mobile-nav ul li a:hover {
    background-color: rgb(221, 222, 215);
    padding: 9px;
    color: black;
    font-weight: 550;
}

.clsbtn {
    font-size: 22px;
    font-weight: bold;
    width: 30px;
    background-color: beige;
    padding: 6px;
    border: 2px solid #514d4d;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 601px) {
    .icon {
        display: none !important;
    }
}

.navbar {
    color: #cc0000;
}

nav {
    box-shadow: 0px 2px 40px rgba(201, 16, 204, 0.5);
}