.skillimg {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 80px;
}

.h2skills {
    color: rgb(197, 177, 177);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}

.card img {
    width: 250px;
    height: 260px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin: 20px;
}

.card:hover {
    background-color: #e0e0e0;
}

@media(min-width:601px) {
    .parent {
        height: 88vh;
    }
}

@media(max-width:600px) {
    .skillimg {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-top: 10px;
    }
    .card img {
        width: 170px;
        height: 160px;
        margin-bottom: 10px;
        border-radius: 50%;
        margin: 20px;
    }
}